ArtifactDB filter=lfs diff=lfs merge=lfs -text
ar-tracked-image-NPoT-texture-settings.png[[:space:]] filter=lfs diff=lfs merge=lfs -text
ar-tracked-image-NPoT-texture-settings.png filter=lfs diff=lfs merge=lfs -text
